<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Sphere: Crafting Careers in the Digital World</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
        <h1>Resume Sphere</h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="score">Get Resume Score</a></li>
            <li><a href="sort_resumes">Sort Resumes</a></li>
            <li><a href="http://localhost:8501/Resume_Screen">Interview Chatbot</a></li>
            <li> <a href="resume_builder">Resume Builder</a></li>
            <li><a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a></li>
            <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
        </div>
        <div class="intro">
            Welcome to Resume Sphere: Crafting Careers in the Digital World! We are your go-to platform for all things career-related. Whether you're looking to evaluate and score resumes with our 'Get Resume Score' feature, sort and filter resumes based on various criteria using 'Resume Sorting,' engage with an AI-powered chatbot for interview preparation in 'Interview Chatbot,' or create a professional resume effortlessly with 'Resume Builder,' we've got you covered. Our mission is to empower individuals on their career journey by providing innovative tools and resources. Explore the possibilities, enhance your career prospects, and step into the digital future with Resume Sphere!
        </div>
        <div>
            <ul class="card-list">
                <li class="card">
                    <a href="score">Get Resume Score</a>
                    <p>Evaluate and score resumes based on job criteria.</p>
                </li>
                <li class="card">
                    <a href="sort_resumes">Sort Resumes</a>
                    <p>Sort and filter resumes based on various criteria.</p>
                </li>
                <li class="card">
                    <a href="interview_chatbot.html">Interview Chatbot</a>
                    <p>Engage with an AI-powered chatbot for interview preparation.</p>
                </li>
                <li class="card">
                    <a href="resume_builder">Resume Builder</a>
                    <p>Create a professional resume using our easy-to-use builder.</p>
                </li>
            </ul>
        </div>
    </div>
  
    
    

</body>
</html>
