<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Zip File Upload</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="banner">
    <h3>Upload PDF Zip File</h3>
    <form action="/upload_res" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".zip" required>
        <input type="text" name="jd" placeholder="Job Description" required>
        <button type="submit">Upload</button>
    </form>
    </div>
</body>

</html>
